html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  background-image: url("/images/bg.jpg");
  background-attachment: fixed;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: unset;
  color: unset;
}
